<!DOCTYPE html>
<html>
  <head>
    <title>Instagem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% end %>

    <div class="content">
      <%= yield %>
    </div>

    <% flash.each do |key, value| %>
      <div class="position-absolute alert alert-dismissable <%= flash_class(key) %>" role="alert">
        <%= value %>

        <button type="button" class="close pl-1" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% end %>
  </body>
</html>
